{% extends "base.html" %}
{% block title %} About Author{% endblock %}
{% block content %}
{% load user_filters %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Рожнов Егор</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Раньше я работал морским техником-механиком. Окончил МГУ Ф.Ф. Ушакова, отработал 2 контракта в море.
           После 2-го контракта, я понял что больше не хочу занимать этим и решил сменить профеcсию. 
        </p>
        <p>
            Заняться разработкой мне посоветовал муж моей сестры. Он тоже разработчик, но использует другой язык - PHP (:
        </p>
      </div>
    </div>
  </div>
</body> 
{% endblock %}
